@{
    ViewData["Title"] = "KhuyenMai";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<!DOCTYPE html>
<html>
<body>
   
    <section>
        <h1>WWF</h1>
        <p>Quỹ Quốc Tế Bảo Vệ Thiên nhiên (WWF) là một tổ chức quốc tế chuyên làm việc về các vấn đề liên quan đến việc bảo tồn, nghiên cứu và phục hồi môi trường, trước đây có tên là Quỹ Động Vật Hoang Dã Thế giới. WWF đã được thành lập vào năm 1961.</p>
    </section>

    <section>
        <h1>Biểu tượng Gấu Trúc của WWF</h1>
        <p>Gấu Trúc đã được lựa chọn làm biểu tượng WWF. Logo Gấu Trúc nổi tiếng của WWF có nguồn gốc từ một chú gấu trúc có tên là Chi Chi đã được chuyển từ vườn thú Bắc Kinh đến Sở thú London vào cùng năm thành lập của WWF.</p>
    </section>

</body>
</html>

